@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
/* Global Styles */
body {
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	max-width: 960px;
	padding-left: 2.275%;
	padding-right: 2.275%;
}
/* plug and play */
.prof-link {
  font-weight: bold;
  color: rgba(15,76,129,1.00);
  text-decoration: none;
}

.prof-link:hover {
  color: #007bff;
  text-decoration: underline;
}

.fab, .fas {
    margin-right: 5px; /* 设置图标和文本之间的间距 */
    color: #555; /* 设置图标的颜色 */
    font-size: 16px; /* 设置图标的大小 */
}

/* Base styles for header */
header {
    text-align: center;
    display: block;
}

/* Profile logo styles */
header .profileLogo .logoPlaceholder {
    background-color: rgba(208,207,207,1.00);
    width: 187px;
    text-align: center;
}

header .logoPlaceholder span {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 53px;
    color: rgba(255,255,255,1.00);
    width: 80px;
    height: 22px;
}

/* Profile photo styles */
header .profilePhoto {
    background-color: rgba(237,237,237,1.00);
    width: 259px;
    height: 259px;
}

header .profilePhoto img {
    width: 259px;
    height: 259px;
    display: block;
}

/* Profile header styles */
header .profileHeader h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(43,48,123,1.00);
}

header .profileHeader h3 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(146,146,146,1.00);
}

header .profileHeader hr{
	background-color: rgba(15,76,129,0.40);
	height: 1.0px;
	padding: 0px;
/*	margin-bottom: 25px;*/
}

header .profileHeader p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
    color: #494A81;
    overflow-y: auto;
}

/* Profile links styles */
/*
header .profileLinks p {
    margin: 10px 0;
    display: block;
}
*/
header .profileLinks{
	position:relative;
	width:320px;
	height:60px;
	background: #fff;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius:10px;
	transform: translateX(-55px);
}
header .profileLinks ul {
    width: 350px;
    display: flex;
}
header .profileLinks ul li{
    list-style: none;
	position: relative;
	width: 70px;
	height: 60px;
	z-index: 2;
}
header .profileLinks ul li a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-weight: 500;
}

header .profileLinks ul li a .icon{
	position: relative;
	display: block;
	line-height: 65px;
	font-size: 1.5em;
	transition: 0.5s;
	color: #222327;
}
header .profileLinks ul li.active a .icon{
	transform: translateY(-30px);
	color: rgba(15,76,129,1.00);
}
header .profileLinks ul li a .icon-text{
	position: absolute;
	background:rgba(15,76,129,1.00);
	color:#fff;
	padding: 2px 7px;
	border-radius: 12px;
	font-weight:400;
	font-size: 0.75em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	opacity:0;
	transform: translatey(15px);
}

header .profileLinks ul li.active a .icon-text{
	transform: translateY(-4px);
	opacity:1;
}
header .profileLinks .indicator{
	position: absolute;
	top: -35%;
	width: 70px;
	height: 70px;
	background: #fff;
	border-radius: 50%;
	Z-index: 1;
	transition: 0.5s;
}
header .profileLinks .indicator::before{
	content: "";
	position: absolute;
	top: 5px;
	width: 30px;
	height: 30px;
	left:-28px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 15px 18px #fff;
}

header .profileLinks .indicator::after{
	content: "";
	position: absolute;
	top: 5px;
	width: 30px;
	height: 30px;
	right:-28px;
	background: transparent;
	border-radius: 50%;
	box-shadow: -15px 18px #fff;
}

header .profileLinks ul li:nth-child(1).active ~ .indicator{
	transform: translateX(calc(70px * 0));
}
header .profileLinks ul li:nth-child(2).active ~ .indicator{
	transform: translateX(calc(70px * 1));
}
header .profileLinks ul li:nth-child(3).active ~ .indicator{
	transform: translateX(calc(70px * 2));
}
header .profileLinks ul li:nth-child(4).active ~ .indicator{
	transform: translateX(calc(70px * 3));
}

/* wechat */
header .profileContainer .modal {
  display: none; /* 保持不变，确保默认是隐藏的 */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

header .profileContainer .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 居中显示 */
  padding: 50px;
  border: 1px solid #888;
  border-radius: 20px; /* 圆角边框 */
  max-width: 25%; /* 设置最大宽度 */
  max-height: 50%; /* 设置最大高度 */
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

header .profileContainer .modal-content img {
  max-width: 100%; /* 图片最大宽度为容器宽度 */
  max-height: 100%; /* 图片最大高度为容器高度 */
  object-fit: contain; /* 调整图片以适应容器 */
}


header .profileContainer .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

header .profileContainer .close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Flexbox container for profile elements */
header .profileContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Scroll show container styles */
.scroll-show-container {
    background-color: #ffffff;
    overflow: auto;
    white-space: nowrap;
    margin-top: 65px;
	margin-bottom: 65px;
    clear: both;
	padding: 20px;
}

.scroll-show-container a, 
.scroll-show-container img {
    max-height: 300px;
    max-width: 300px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.scroll-show-container a:hover,
.scroll-show-container img:hover {
    transform: scale(1.1);
}

/* News Content section */
.mainContent .section1 {
	display: block;
}
.section1 .sectionTitle, .section2 .sectionTitle {
	font-family: 'Montserrat', sans-serif;
	color: rgba(11,11,82,1.00);
	font-size: 24px;
	font-weight: 700;
/*	text-transform: uppercase;取消大写*/
}
.section1 .sectionTitleRule{
	margin: 0 3% 0 0;
	background-color: rgba(15,76,129,0.50);
	height: 2.5px;
/*	float: left;*/
	clear: both;
}
.mainContent .section1 .section1Content {
	float: left;
	clear: both;
	font-family: ProximaNova;
	font-size: 14px;
	font-weight: 100;
	color: rgba(146,168,209,1.00);
}
.mainContent .section1 .section1Content span {
	color: rgba(15,76,129,1.00);
	font-family: sans-serif;
}
.mainContent .section1 .section1Content .icon {
  	position: relative; /* 相对定位 */
  	top: 5.5px;
  	color: #222327;
	font-weight: bold;
	font-size: 1.2em;
}
/* Pubulications Content section */
.section2  a {
    color: #555;
    text-decoration: none;
    font-size: 16px;
}
.section2 .sectionTitleRule {
	margin: 0 3% 0 0;
	float: left;
	clear: both;
}
.section2 .sectionTitleRule2 {
	background-color: rgba(15,76,129,0.70);
	height: 2.5px;
	padding: 0px;
	margin-bottom: 25px;
}
.section2 .newPaper {
	clear: both;
}
.section2 .showPlace img {
	max-width: 360px;
	max-height: 222px;
    border: 3px solid #555;
/*	width: 100%;*/
	min-width: 360px;
	min-height: 222px;
}
.mainContent {
	display: block;
}
.mainContent .externalResourcesNav .externalResources {
	background-color: rgba(208,207,207,1.00);
	display: inline-block;
	text-align: center;
	margin-top: 0px;
	padding-top: 3%;
	cursor: pointer;
}
.stretch {
	content: '';
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}

/* gallery */	
.gallery{
	display: block;
	margin-top: 250px;
	margin-bottom: 0px;
	width: 40vmin;
    height: 56vmin;
/*	overflow: hidden;*/
}

/* Footer */
footer .footerDisclaimer {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(104,103,103,1.00);
	font-weight: 700;
}
footer .footerDisclaimer span {
	color: rgba(181,178,178,1.00);
	font-weight: 400;
}
footer .footerNote {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(104,103,103,1.00);
	font-weight: 700;
}
footer .footerNote span {
	color: rgba(181,178,178,1.00);
	font-weight: 400;
}

/* Media query for Mobile devices---------------------------------------------------*/
@media only screen and (min-width : 285px) and (max-width : 480px) {
/* Header */
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
}
header .profilePhoto {
	display: inline-block;
}
header .profileHeader {
	text-align: center;
	margin-top: 10%;
}
header .profileHeader p {
	text-align: justify;
}
/* Main content sections */
.mainContent .section1 {
	text-align: center;
	margin-bottom: 10%;
}
.section1 .section1Title, .section2 .section1Title {
	text-align: center;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 100%;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	display: none;
}
.mainContent .section1 .section1Content {
	display: inline-block;
	text-align: left;
	font-family: sans-serif;
	font-weight: bold;
	font-size: larger;
}
.mainContent .section2 {
	display: block;
	text-align: center;
}
.section2 .sectionContentTitle {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 18px;
	font-weight: 700;
}
.section2 .sectionContentSubTitle {
	font-family: sans-serif;
	color: rgba(68,67,67,1.00);
	font-size: 14px;
	font-weight: 400;
}
.section2 .sectionContent {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
}
.section2 .section2Content {
	margin-top: 10%;
	text-align: justify;
	margin-bottom: 10%;
}
.section2 .onlyIMG img {
    width: 100%;       /* 设置图片宽度为容器宽度的100% */
    height: auto;      /* 设置图片高度自动，以保持图片的宽高比 */
    max-width: 100%;   /* 确保图片不会超过其容器宽度 */
    object-fit: cover; /* 如果需要的话，可以使用cover保持长宽比而填充整个容器 */
    border: 3px solid #555; /* 如果需要保留边框 */
  }
.section2 .showPlace img {
    width: 100%; /* 宽度占满容器 */
    height: auto; /* 高度自动按比例调整 */
    max-width: 100%; /* 最大宽度限制为100% */
    max-height: none; /* 移除最大高度限制 */
    object-fit: contain; /* 保持图片比例 */
  }
.mainContent .externalResourcesNav {
	margin-bottom: 10%;
}
.mainContent .externalResourcesNav .externalResources {
	width: 100%;
	height: 35px;
}
/* Footer */
footer {
	display: block;
	text-align: center;
	font-family: sans-serif;
}
}

/* Media Query for Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
/* Header */
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
	margin-top: 5%;
}
header .profileHeader {
	text-align: left;
	margin-top: 7%;
}
header .socialNetworkNavBar .socialNetworkNav {
	width: 74px;
	height: 74px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content and sections */
.section1 .section1Title, .section2 .section1Title {
	text-align: center;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 100%;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	display: none;
}
.mainContent .section1 .section1Content {
	display: block;
	margin: 0% 0% 0% 20%;
	font-family: sans-serif;
	margin-top: 5%;
	margin-bottom: 5%;
}
.mainContent .section2 {
	clear: both;
}
.section2 .section2Content {
	padding: 0px;
	margin-left: 20%;
	font-family: sans-serif;
	margin-top: 5%;
	margin-bottom: 5%;
}
.mainContent .externalResourcesNav {
	margin-left: 20%;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	padding-top: 0px;
	clear: both;
}
.mainContent .externalResourcesNav .externalResources {
	width: 199px;
	height: 48px;
	margin-top: 5%;
}
/* Footer */
footer .footerDisclaimer {
	float: left;
	margin-left: 3%;
	font-family: sans-serif;
}
footer .footerNote {
	float: right;
	margin-right: 3%;
	font-family: sans-serif;
}
}

/* --------------------------------------------------------------------Desktops and laptops  */
@media only screen and (min-width:1025px) {
/* Header */
header {
	padding-top: 10%;	
}
header .profileLogo .logoPlaceholder {
	float: left;
	margin-bottom: 50px;
}
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
}
header .profileHeader {
	text-align: left;
	padding-top: 0%;
}
/* Main content sections */
.section1 .sectionTitleRule{
	color: rgba(146,146,146,1.00);
    width: 100%;
}
.section2 .sectionTitleRule {
	width: 38%;
}
.mainContent .section1 .section1Content {
	display: block;
	margin-top: 0%;
	margin-right: 0%;
	margin-left: 0%;
	margin-bottom: 3%;
	font-family: sans-serif;
	font-weight: bold;
	font-size: larger;
}
.mainContent .section2 {
	clear: both;
}
	.section2 .newPaper{
		background-color: rgba(23,27,74,1);
		border-radius: 25px;
		padding: 15px;
	}
	.section2 .sectionContentTitle {
		font-family: sans-serif;
		color: rgba(245,221,113,1.00);
		font-size: 18px;
		font-weight: 700;
	}
	.section2 .sectionContentSubTitle {
		font-family: sans-serif;
		color: rgba(241,245,221,1.00); /*176,209,203*/
		font-size: 14px;
		font-weight: 350;
	}
	.section2 .sectionContentSubTitle a{
		color: rgba(241,245,221,0.90);
	}
	.section2 .sectionContent {
		font-family: sans-serif;
		color: rgba(241,245,221,1.00);
		font-size: 14px;
		font-weight: 400;
		line-height: 1.8;
	}

	.section2 .onlyIMG {
	  float: left;
	  line-height: 0; /* 防止图片下方出现空隙 */
	}
	.section2 .onlyIMG img{
		  width: 360px;
		  height: 222px;
		  max-width: 100%;
		  max-height: 100%;
		  object-fit: contain; /* 保持长宽比 */
		  border: 3px solid #555;
		  display: block;
	}
	.section2 .showPlace {
	  float: left;
	  line-height: 0; /* 防止图片下方出现空隙 */
	}
		.section2 .showPlace img {
		  width: 360px;
		  height: 222px;
		  max-width: 100%;
		  max-height: 100%;
		  object-fit: contain; /* 保持长宽比 */
		  border: 3px solid #555;
		  display: block;
		}
	.section2 .section2Content {
		padding: 0px;
		margin-left: 41.5%;
		margin-rig: 0%;
		font-family: sans-serif;
		word-wrap: break-word;
	}

	.section2 a:hover {
		text-decoration: underline;
	}

/*
.section2 .btn {
  background-color: #ddd;
  border: 2px solid #CEB5B5;
  border-radius: 5px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.section2 .btn:hover {
  background-color: #3e8e41;
  color: white;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(62, 142, 65, 0.4);
  animation: lightning 0.5s linear infinite;
}
*/
	.section2 .btn-contaniner{
		box-sizing:border-box;
		font-family: 'Roboto',sans-serif;
		display: flex; /* 使用 Flexbox 排列按钮 */
	    justify-content: center; /* 水平居中按钮 */
	    align-items: center; /* 垂直居中按钮 */
	    flex-wrap: nowrap; /* 是否允许按钮根据需要换行 */
		transform: scale(0.9);
	}
	.section2 .btn-contaniner .btn {
		position: relative;
		width:155px;
		height: 50px;
		margin:20px;
	}
	.section2 .btn-contaniner .btn a{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(255,255,255,0.05);
		box-shadow: 0 15px 35px  rgba(0,0,0,0.2);
		border-top: 1px solid  rgba(255,255,255,0.1);
		border-bottom: 1px solid  rgba(255,255,255,0.1);
		border-radius: 50px;
		color: #fff;
		z-index: 1;
		font-weight: 400;
		letter-spacing: 1px;
		text-decoration: none;
		overflow: hidden;
		transition: 0.5s;
		backdrop-filter: blur(15px);
	}
	.section2 .btn-contaniner .btn:hover a{
		letter-spacing: 3px;
	}
	.section2 .btn-contaniner .btn a::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background: linear-gradient(to left,rgba(255,255,255,0.15),transparent);
		transform: skewX(45deg) translateX(0);
		transition: 0.5s;
	}
	.section2 .btn-contaniner .btn:hover a::before{
		transform: skewX(45deg) translateX(200%);
	}
	.section2 .btn-contaniner .btn:before{
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -5px;
		width:30px;
		height:10px;
		background: #f00;
		border-radius:10px;
		transition:0.5s;
		transition-delay:0s;
	}
	.section2 .btn-contaniner .btn:hover::before{
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		width:80%;
		height:50%;
		background: #f00;
		border-radius:30px;
		transition-delay:0.5s;
	}
	.section2 .btn-contaniner .btn:after{
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: -5px;
		width:30px;
		height:10px;
		background: #f00;
		border-radius:10px;
		transition:0.5s;
		transition-delay:0s;
	}
	.section2 .btn-contaniner .btn:hover::after{
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
		width:80%;
		height:50%;
		background: #f00;
		border-radius:30px;
		transition-delay:0.5s;
	}
	.section2 .btn-contaniner .btn:nth-child(1)::before,
	.section2 .btn-contaniner .btn:nth-child(1)::after{
		background: #ff1f71;
		box-shadow: 0 0 5px #ff1f71,
			0 0 15px #ff1f71,
			0 0 30px #ff1f71,
			0 0 60px #ff1f71;
	}
	.section2 .btn-contaniner .btn:nth-child(2)::before,
	.section2 .btn-contaniner .btn:nth-child(2)::after{
		background: #2bd2ff;
		box-shadow: 0 0 5px #2bd2ff,
			0 0 15px #2bd2ff,
			0 0 30px #2bd2ff,
			0 0 60px #2bd2ff;
	}
	.section2 .btn-contaniner .btn:nth-child(3)::before,
	.section2 .btn-contaniner .btn:nth-child(3)::after{
		background: #1eff45;
		box-shadow: 0 0 5px #1eff45,
			0 0 15px #1eff45,
			0 0 30px #1eff45,
			0 0 60px #1eff45;
	}


.mainContent .externalResourcesNav {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	padding-top: 0px;
	clear: both;
}
.mainContent .externalResourcesNav .externalResources {
	width: 199px;
	height: 48px;
}
/* Footer */
footer .footerDisclaimer {
	float: left;
	margin-left: 3%;
	font-family: sans-serif;
}
footer .footerNote {
	float: right;
	margin-right: 3%;
	font-family: sans-serif;
}
footer .hr{
	background-color: rgba(15,76,129,0.40);
	height: 1.0px;
	padding: 0px;
/*	margin-bottom: 25px;*/
}
}
/* image-track */
#image-track {
 	display: flex;
 	gap: 4vmin;
 	position: absolute;
	left: 50%;
 	transform: translate(0%, -50%); 
 	user-select: none;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

#citation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f9fa; /* 一个温和的灰色背景 */
  border-radius: 10px; /* 圆角边框 */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* 添加阴影以提高层次感 */
  width: 80%; /* 或者根据内容大小设定固定宽度 */
  max-width: 600px; /* 最大宽度，避免在大屏幕上过宽 */
  padding: 20px;
  z-index: 1000;
  box-sizing: border-box; /* 避免内边距影响宽度计算 */
}

#citation-content {
  margin-bottom: 20px; /* 给复制按钮留出空间 */
  padding: 10px;
  background-color: #ffffff; /* 白色背景强调内容 */
  border: 1px solid #ddd; /* 边框定义内容区域 */
  overflow: auto; /* 长文本滚动 */
  max-height: 300px; /* 最大高度，超出滚动 */
}

#copy-citation {
  display: block;
  width: 100%; /* 按钮宽度与模态宽度一致 */
  padding: 10px 0; /* 垂直内边距 */
  background-color: #007bff; /* Bootstrap的蓝色 */
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px; /* 按钮圆角 */
  cursor: pointer; /* 鼠标悬停时显示手形指针 */
  transition: background-color 0.3s ease; /* 悬停效果平滑过渡 */
}

#copy-citation:hover {
  background-color: #0056b3; /* 按钮悬停时的背景色 */
}

/* 关闭按钮样式 */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
